<!-- ictf/index -->
<div class="hero-unit geddy-welcome-box">
<h1>Welcome to the iCTF seminars!</h1>
<% for(var i=1; i<8; i++) {%>
  	<h2><%- linkTo('Week #' + i, '/ictf/week/' + i) %></h2>
<% } %>
</div>