<!-- ictf/index -->
<div class="hero-unit geddy-welcome-box">
<h1>iCTF Seminars: Week #2</h1>
</div>
<div>
<h3><%- linkTo('Web application vulnerabilies', 'http://bobby-tables.com') %></h3>
<h3>Open Web Application Security Project (OWASP)</h3>
<ul>
	<li><%- linkTo('OWASP Top-10', 'https://www.owasp.org/index.php/Category:OWASP_Top_Ten_Project') %></li>
	<li>Injection Attacks (SQLi, LDAP, NoSQL, etc)</li>
	<li>Examples? Mitigation?</li>
</ul>

<h3><%- linkTo('Damn Vulnerable Web Application (DVWA)', 'http://www.dvwa.co.uk') %></h3>
</div>