<!-- ictf/index -->
<div class="hero-unit geddy-welcome-box">
<h1>iCTF Seminars: Week #1</h1>
</div>
<div>
<h1>DON'T DO THIS ON SYSTEMS THAT AREN'T YOUR OWN!</h1>
<h1>DON'T DO THIS ON SYSTEMS THAT AREN'T YOUR OWN!</h1>
<h1>DON'T DO THIS ON SYSTEMS THAT AREN'T YOUR OWN!</h1>
<h1>DON'T DO THIS ON SYSTEMS THAT AREN'T YOUR OWN!</h1>
<h1>DON'T DO THIS ON SYSTEMS THAT AREN'T YOUR OWN!</h1>
<br/>

<h3>Many of the answers are online. No grades, just interesting and an urge to solve problems without ruining it by cheating</h3>

<h3>What is the UCSB iCTF?</h3>
<ul>
	<li><%- linkTo('http://http://ictf.cs.ucsb.edu') %></li>
	<li>Mainly web services, occasionally buffer overflows and basic software exploits</li>
</ul>

<h3>What you should know, or be willing to learn</h3>
<ul>
	<li>Web programming and general scripting: PHP, Javascript/Node.js, Python/DJango, Ruby/Rails</li>
	<li>Comfortable reading someone else's code</li>
</ul>

<h3>What we'll be covering in the seminars</h3>
<ul>
	<li>This is not CSC347</li>
	<li>Offensive and Defensive Web programming and general webservice security</li>
	<li>Manual exploitation</li>
	<li>Automated tools for exploitation</li>
	<li>Mitigation techniques</li>
</ul>

<h3>What you need for EVERY seminar</h3>
<ul>
	<li>Your own laptop running Backtrack (who doesn't know what Backtrack is?)</li>
</ul>

<h3>Let's jump in!</h3>
<ul>
	<li>Backtrack & BurpSuite</li>
	<li>HTTP free-for-all</li>
</ul>
</div>