<!-- ictf/index -->
<div class="hero-unit geddy-welcome-box">
<h1>iCTF Seminars: Week #4</h1>
</div>
<div>
<h3>Python service from last year's competition</h3>
<ul>
	<li><%- linkTo('Measurementlib.py', '/Measurementlib.py') %></li>
	<li><%- linkTo('WaterSystemServer.py', '/WaterSystemServer.py') %></li>
</ul>

<h3>Today:</h3>
<ol>
	<li>Determine the vulnerability in the above service</li>
	<li>Write a script in the language of your choice which exploits the service</li>
	<li>Write a patch which secures the script from the vulnerability</li>
</ol>